<div class="container">
  <div class="row">
    <div class="col mb-5">
      <app-title [title]="'Acerca de mi'"></app-title>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="glass-card">
        <div>¡Hola! Mi nombre es Esteban, soy Programador con experiencia en tecnologías como Angular, C#, .NET y SQL Server. Actualmente, formo parte del equipo de Circo Studio.</div>
        <div>Me encuentro en la etapa final de mi carrera de Tecnicatura en Desarrollo Web en la Universidad de la Matanza, donde he adquirido una sólida base de conocimientos y habilidades en el ámbito del desarrollo web y la programación. Durante mi formación académica, he trabajado con tecnologías como Java, Spring Boot, Programación Orientada a Objetos (POO), Hibernate, HTML, CSS, JavaScript y SQL, ampliando mi conjunto de habilidades y capacidades técnicas.</div>
        <div>Mi objetivo es seguir creciendo profesionalmente y adquirir nuevas habilidades en el campo de la tecnología, a la vez que contribuyo al éxito de proyectos desafiantes.</div>
        <div>Soy un profesional proactivo, orientado al trabajo en equipo y responsable, siempre buscando la excelencia en cada tarea que emprendo. Estoy abierto a nuevas oportunidades y desafíos emocionantes que me permitan seguir aprendiendo y creciendo como desarrollador web.</div>
      </div>
    </div>
  </div>
</div>
