@font-face {
    font-family: 'Poppins-Bold';
    src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
}
  

header{
    position: relative;
    margin-bottom: 5vh;
    margin-top: 1vh;

    .title{
        font-family: 'Poppins-Bold';
        font-size: 42px;
        font-weight: 500;
        color: black;
    }
}