<div class="sidebar-conteiner">
  <div class="sidebar-info">
    <img src="assets/img/yo.png" alt="Estoy facha. No?" style="width: 80px;">
    <h2>Esteban Barone</h2>
    <h6>FullStack Developer en <a href="http://www.circostudio.com/" _BLANK>Circo Studio</a></h6>
  </div>

  <div class="sidebar-list">
    <ul>
      <li>
        <fa-icon [icon]="faUser"></fa-icon>
        <a href="">Sobre Mi</a>
      </li>
      <li>
        <fa-icon [icon]="faBriefcase"></fa-icon>
        <a href="">Experencia</a>
      </li>
      <li>
        <fa-icon [icon]="faUserGraduate"></fa-icon>
        <a href="">Educacion</a>
      </li>
      <li>
        <fa-icon [icon]="faCode"></fa-icon>
        <a href="">Habilidades</a>
      </li>
    </ul>
  </div>

  <div class="sidebar-button">
    <button>
      <fa-icon [icon]="faCircleArrowDown"></fa-icon>
      <span>Descargar CV</span>
    </button>
  </div>
</div>
