<div class="sidebar-conteiner" *ngIf="!isMobile">
  <div class="sidebar-info">
    <img src="assets/img/yo.png" alt="Estoy facha. No?" style="width: 100px;">
    <h1>Esteban Barone</h1>
    <h6>FullStack Developer en <a href="http://www.circostudio.com/" _BLANK>Circo Studio</a></h6>
  </div>

  <div class="sidebar-list">
    <ul>
      <li>
        <i class="material-symbols-outlined">person</i>
        <a routerLink="/about">Sobre Mi</a>
      </li>
      <li>
        <i class="material-symbols-outlined">work</i>
        <a routerLink="/experience">Experencia</a>
      </li>
      <li>
        <i class="material-symbols-outlined">school</i>
        <a routerLink="/education">Educacion</a>
      </li>
      <li>
        <i class="material-symbols-outlined">code</i>
        <a routerLink="/skills">Habilidades</a>
      </li>
    </ul>
  </div>

  <div class="sidebar-button">
    <button>
      <i class="material-symbols-outlined" style="font-size: 40px; font-weight: 600;">arrow_downward</i>
      <span>Descargar CV</span>
    </button>
  </div>
</div>

<div *ngIf="isMobile" class="sidebar-conteiner-mobile">
  <!-- <div class="sidebar-list-mobile"> -->
    <ul>
      <li routerLink="/">
        <i class="material-symbols-outlined">home</i>
        <!-- <a routerLink="/about">Sobre Mi</a> -->
      </li>
      <li routerLink="/about">
        <i class="material-symbols-outlined">person</i>
        <!-- <a routerLink="/about">Sobre Mi</a> -->
      </li>
      <li routerLink="/experience">
        <i class="material-symbols-outlined">work</i>
        <!-- <a routerLink="/experience">Experencia</a> -->
      </li>
      <li routerLink="/education">
        <i class="material-symbols-outlined">school</i>
        <!-- <a routerLink="/education">Educacion</a> -->
      </li>
      <li routerLink="/skills">
        <i class="material-symbols-outlined">code</i>
        <!-- <a routerLink="/skills">Habilidades</a> -->
      </li>
    </ul>
  <!-- </div> -->
</div>
